# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
obj/
bin/
ExportedObj/
UnityVS/
UnityVS.meta
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.dotsettings
*.user
*.unityproj
*.booproj
*.log
StyleCopViolations.xml
StyleCop.Cache

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
